.is-page {
	min-height: 95vh;
}

body {
	background-color: #eaeaea;
}

html {
	background-color: #212121;
}

.is-white {
	color: white;
}

.footer {
	background-color: #212121;
}

.is-colour {
	margin: 10px;
	-webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
	box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
}

.colours {
	margin: 15px;
}

.style-colour {
	text-transform: capitalize;
	color: white;
}

.modal-content {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
}

.discord .name {
	font-size: 20px;
	display: inline-block;
}

.discord-dark .name {
	color: white;
}

.discord .date {
	display: inline-block;
	font-size: 14px;
	margin: 0px 5px;
}

.discord .text {
	font-size: 18px;
}

.discord-dark .text {
	color: white;
}

.discord img {
	border-radius: 50%;
}

.discord .media-left {
	margin: 0px 20px 0px 0px;
}