<section class="hero header is-blue is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 is-white">
                <%= text %>
            </h1>
        </div>
    </div>
</section>