<h1 class="title is-2">I'm jColour - and this is my colour management feature.</h1>

<h1 class="subtitle is-4 has-features-below">Here's what I can do:</h1>

<ul class="features">
  <li>make a website based on the colours of your server</li>
  <li>give a default colour to new members</li>
  <li>change your colour to the one you want</li>
  <li>give a random colour from the list</li>
  <li>pick the best available colour for your profile picture</li>
  <li>give you a random, chosen or the most suiting hex colour</li>
</ul>

<% if (!auth) { %>
  <h2 class="subtitle">Please log in from the side menu!</h2>
<% } %>
