<!DOCTYPE html>
<html>
<%- include('elements/meta', {
	title: "jColour",
	desc: "jColour Discord bot."
}) %>

	<body>

		<div class="is-page">
			<%- include('elements/header', {
				text: "jColour"
			}) %>

				<section class="hero content">
					<div class="hero-body">
						<div class="container is-centered infobox" id="info">

							<h1 class="title is-2">So what am I?</h1>
							<h2 class="subtitle is-4">
								I am a Discord bot for managing colour roles.
							</h2>

							<div class="columns is-multiline">


								<div class="card has-card-margin">
									<div class="card-content">
										Here's what I can do:
										<br />
										<ul>
											<li>make a website based on the colours of your server</li>
											<li>give a default colour to new members</li>
											<li>change your colour to the one you want</li>
											<li>give a random colour from the list</li>
											<li>pick the best available colour for your profile picture</li>
										</ul>
									</div>
								</div>


								<div class="card has-card-margin">
									<div class="card-content">

										<h1 class="title is-3">Useful links:</h1>

										<center>

											<a href="/invite" class="button is-large is-dark">
												Invite me
											</a>

											<a href="/support" class="button is-large is-dark">
												Support
											</a>

											<a href="/video" class="button is-large is-dark">
												Tutorial
											</a>
											<br />

											<a href="/demo" class="button is-large is-dark">
												Demo Site
											</a>

											<a href="https://github.com/jaqreven/jColour" class="button is-large is-dark">
												Github
											</a>

										</center>

									</div>
								</div>


							</div>

							<div class="media">
								<figure class="image">
									<a href="https://discordbots.org/bot/358968052500660226">
										<img src="https://discordbots.org/api/widget/358968052500660226.svg" alt="jColour at Discordbots.org" />
									</a>
								</figure>
							</div>

						</div>
					</div>
				</section>
		</div>

		<%- include elements/footer %>

	</body>

</html>