/*

DEFAULT PAGE SETTINGS

*/
body {
  overflow-x: hidden;
}

.footer {
  z-index: 10 !important;
  position: relative;
  margin-top: -1rem !important;
}

.is-9 {
  min-height: 90vh;
}

/*

Colour cards

*/
@media only screen and (max-device-width: 768px) {
  .is-fullwidth-mobile {
    width: 100%;
  }
}

.is-colour {
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
}

.style-colour {
  text-transform: capitalize;
}

/*

Colour modals

*/
.modal-content {
  padding: 30px;
  border-radius: 10px;
}

.discord .name {
  font-size: 20px;
  display: inline-block;
}

.discord .date {
  display: inline-block;
  font-size: 14px;
  margin: 0px 5px;
}

.discord .text {
  font-size: 18px;
}

.discord .media-left {
  margin: 0px 20px 0px 0px;
}

.discord-dark {
	border-radius: 0px 0px 10px 10px;
}

.discord-light {
	border-radius: 10px 10px 0px 0px;
}

/*

Misc

*/
.is-white {
  transition-duration: 0.2s;
}

.is-large {
  margin: 5px;
}

li .is-white:hover {
  border-radius: 10px;
  transition-duration: 0.2s;
}

li {
	transition-duration: 0.2s;
}

.is-active:not(.modal) {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  transition-duration: 0.2s;
}

.is-active:hover:not(.modal) {
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  transition-duration: 0.2s;
}

.rounded-img {
  border-radius: 50%;
}

.has-no-colours {
  float: right;
}

.is-blue {
  transition-duration: 0.2s;
}

.menu-label {
  margin-bottom: 0.2em !important;
}

@media screen and (max-device-width: 768px) {
  .server-column {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
}

.server-column {
  z-index: 1 !important;
  position: static -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
}

.features {
  list-style-type: disc;
  margin-left: 30px;
  padding-bottom: 15px;
}

.has-features-below {
  margin-bottom: 0px !important;
  margin-top: 15px !important;
}

/*

Nav

*/

@media screen and (min-device-width: 769px) {
  .navbar-menu {
    padding-right: 10px;
  }
}

.nav-title {
  font-size: 25px;
  vertical-align: center;
}

/*

Tooltips

*/
/* Tooltip container */
@media screen and (max-device-width: 768px) {
  .tooltip-text {
    display: none;
  }

  .nav-content {
    padding-bottom: 30px;
    padding-top: 40px;
    display: none;
  }

  #nav {
    padding-bottom: 2rem !important;
  }

  .closeButton {
    position: absolute;
    right: 5px;
    top: 0px;
  }
}

@media screen and (min-device-width: 769px) {
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .closeButton {
    display: none;
  }

  /* Tooltip text */
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.2s;
  }

  /* Tooltip arrow */
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
