.is-page {
	min-height: 95vh;
}

body {
	background-color: #eaeaea;
}

html {
	background-color: #212121;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
}

.tg .tg-us36 {
	border-color: inherit;
	vertical-align: top
}

@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
	}
	.tg col {
		width: auto !important;
	}
	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media only screen and (max-device-width: 768px) {
	.is-fullwidth-mobile {
		width: 100%;
	}
}

.is-large {
	margin: 5px;
}

.has-card-margin {
	margin: 10px;
}

.is-white {
	color: white;
}

.footer {
	background-color: #212121;
}

.is-colour {
	margin: 10px;
	-webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
	box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
}

.is-whitetext {
	color: white !important;
}

.colours {
	margin: 15px;
}

.style-colour {
	text-transform: capitalize;
	color: white;
}

.modal-content {
	background-color: white;
	padding: 30px;
	border-radius: 10px;
}

.discord .name {
	font-size: 20px;
	display: inline-block;
}

.discord-dark .name {
	color: white;
}

.discord .date {
	display: inline-block;
	font-size: 14px;
	margin: 0px 5px;
}

.discord .text {
	font-size: 18px;
}

.discord-dark .text {
	color: white;
}

.discord img {
	border-radius: 50%;
}

.discord .media-left {
	margin: 0px 20px 0px 0px;
}

.is-fade {
	background: linear-gradient(270deg, #ed1a1a, #4261f2, #361aed);
	background-size: 600% 600%;

	-webkit-animation: FadeEffect 15s ease infinite;
	-moz-animation: FadeEffect 15s ease infinite;
	-o-animation: FadeEffect 15s ease infinite;
	animation: FadeEffect 15s ease infinite;
}

@-webkit-keyframes FadeEffect {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes FadeEffect {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-o-keyframes FadeEffect {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes FadeEffect {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
