/*

DEFAULT PAGE SETTINGS

*/
body {
  overflow-x: hidden;
}

.footer {
  z-index: 3 !important;
  position: relative;
  margin-top: -1rem !important;
}

.is-9 {
  min-height: 90vh;
}

/*

Colour cards

*/
@media only screen and (max-width: 768px) {
  .is-fullwidth-mobile {
    width: 100%;
  }
}

.is-colour {
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
}

.style-colour {
  text-transform: capitalize;
}

/*

Colour modals

*/
.modal-content {
  padding: 30px;
  border-radius: 10px;
}

.discord .name {
  font-size: 20px;
  display: inline-block;
}

.discord .date {
  display: inline-block;
  font-size: 14px;
  margin: 0px 5px;
}

.discord .text {
  font-size: 18px;
}

.discord .media-left {
  margin: 0px 20px 0px 0px;
}

.discord-dark {
  border-radius: 0px 0px 10px 10px;
}

.discord-light {
  border-radius: 10px 10px 0px 0px;
}

/*

Misc

*/
.is-white {
  transition-duration: 0.2s;
}

.is-large {
  margin: 5px;
}

li .is-white:hover {
  border-radius: 10px;
  transition-duration: 0.2s;
}

li {
  transition-duration: 0.2s;
}

.is-active:not(.modal) {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  transition-duration: 0.2s;
}

.is-active:hover:not(.modal) {
  -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  transition-duration: 0.2s;
}

.rounded-img {
  border-radius: 50%;
}

.has-no-colours {
  float: right;
}

.is-blue {
  transition-duration: 0.2s;
}

.menu-label {
  margin-bottom: 0.2em !important;
}

/* @media screen and (max-device-width: 768px) {
  .server-column {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
} */
.server-column {
  z-index: 1 !important;
  position: static;
}

@media only screen and (min-width: 768px) {
  .server-column {
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.37);
  }
}

.features {
  list-style-type: disc;
  margin-left: 30px;
  padding-bottom: 15px;
}

.has-features-below {
  margin-bottom: 0px !important;
  margin-top: 15px !important;
}

/*

Nav

*/
@media only screen and (min-width: 768px) {
  .navbar-menu {
    padding-right: 10px;
  }
}

.nav-title {
  font-size: 25px;
  vertical-align: center;
}

@media only screen and (max-width: 768px) {
  #nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 4 !important;
    top: 0;
    left: 0;
    overflow-x: hidden !important;
    transition: 0.5s;
    padding: 85px 0px 60px 0px;
  }

  .fullWidth {
    width: 100% !important;
    padding: 85px 30px 60px 30px !important;
  }

  .navButton {
    position: fixed !important;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 10;
    padding: 15px;
    border-bottom-left-radius: 10px;
    text-align: right;
    vertical-align: middle;
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.37);
  }

  .is-9 {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .navButton {
    display: none;
  }
}
